<div class="section1">
	<div class="topheader">
		<p> I am an Appliant </p>
		<p> API Docs </p>
		<p> About Us </p>
		<p> Careers </p>
	</div>


	<div class="bottomheader"> 
		<div class="left">
			<%= image_tag 'checkr.png' %>
			
			<div class="dropdown">
				<div class="dropbtn"> Product ▾ </div>
				  	<div class="dropdown-content">
	    				<a href="#">Overview</a>
	    				<a href="#">Screenings</a>
	    				<a href="#">Compliance</a>
	    				<a href="#">Security</a>
	  				</div>
	  		</div>
  			

	  		<div class="dropdown">
	  			<div class="dropbtn"> Staffing ▾</div>
				  	<div class="dropdown-content">
	    				<a href="#">Overview</a>
	  				</div>
	  		</div>


	  		<div class="dropdown">
	  			<div class="dropbtn"> Industries ▾</div>
				  	<div class="dropdown-content">
	    				<a href="#">Overview</a>
	    				<a href="#">Contact Centers</a>
	    				<a href="#">Retail & Hospitality</a>
	    				<a href="#">Non Profit</a>
	    				<a href="#">Manufacturing</a>
	    				<a href="#">Small Businesses</a>
	    				<a href="#">Staffing</a>
	    				<a href="#">Financial Services</a>
	    				<a href="#">Healthcare</a>
	    				<a href="#">On Demand Economy</a>
	    				<a href="#">Software & Technology</a>
	    				<a href="#">P2P Marketplaces</a>
	  				</div>
	  		</div>
	  		
	  		<div class="dropdown">	
	  			<div class="dropbtn"> Resources ▾ </div>
				  	<div class="dropdown-content">
	    				<a href="#">Overview</a>
	    				<a href="#">Guides & Whites Papers</a>
	    				<a href="#">FAQ</a>
	  				</div>
	  		</div>

			<p> Compliance </p>
		</div>


		<div class="right">
			<p> Log in </p>
			<button> Get Started </button>
		</div>
	</div>

	<div class="container">
		<div class="catch">
			<div class="catchleft">
				<h1> HIRE GREAT PEOPLE. <br />FASTER. </h1>
				<p> Checkr provides modern and compliant background checks for global enterprises and startups. </p>
				<button> Explore Now ➤</button>
			</div>
			<div class="catchright">
				<video preload="auto" loop="true" autoplay="true"> 
					<source src="https://checkr.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" type="video/mp4">
				</video>
			</div>	
		</div>
	</div>

</div>




<div class="section2">
	<h2> More Than 10,000 Businesses Trust Checkr for Their Background Screenings </h2>
	<div class="logos">
		<%= image_tag 'uber.jpg' %>
		<%= image_tag 'instacart.png' %>
		<%= image_tag 'grubhub.png' %>
		<%= image_tag 'postmates.png' %>
		<%= image_tag 'zenefits.gif' %>
		<%= image_tag 'lyft.png' %>
	</div>
</div>

<div class="section3">
	<h2> The Next Generation of Background Checks </h2>
	<div class="top">
		<div class="valueproposition">
			<%= image_tag 'mobile.svg' %>
			<p> <strong> Mobile-Friendly </strong></p>
			<p> Create a positive applicant experience with simple, mobile-friendly onboarding. </p>
		</div>
		<div class="valueproposition">
			<%= image_tag 'communication.svg' %>
			<p> <strong> Easy to Understand </strong></p>
			<p> Color-coded reports and an intuitive interface makes it possible to review information faster. See a sample employee background report. </p>
		</div>
		<div class="valueproposition">
			<%= image_tag 'automation.svg' %>
			<p> <strong> Convenient Automation </strong> </p>
			<p> Reports and violations are categorized to help you remain compliant with individual assessment requirements. </p>
		</div>
	</div>
	<div class="bottom">
		<div class="valueproposition">
			<%= image_tag 'communication.svg' %>
			<p> <strong> Simplified and Compliant Communication</strong> </p>
			<p> Automated compliance tools allow you to send adverse action communications in seconds, directly from your dashboard. </p>
		</div>
		<div class="valueproposition">
			<%= image_tag 'fast.svg' %>
			<p> <strong>  Simplified and Compliant Communication </strong> </p>
			<p> Automated compliance tools allow you to send adverse action communications in seconds, directly from your dashboard. </p>
		</div>
	</div>
</div>

<div class="section4">
	<h2> Tailored to Fit Your Industry’s Needs </h2>
	<div class="mosaic-all">
		<div class="mosaic">
			<%= image_tag 'mosaic.jpg' %>
			<div class="overlay"> </div>
			<h4> <strong> Staffing ➤ </strong> </h4>
		</div>

		<div class="mosaic">
			<%= image_tag 'mosaic.jpg' %>
			<div class="overlay"> 
			Checkr has built in specific tools to reduce time to hire and manage the complexity of screening candidates in a contact center. 
			</div>
			<h4> <strong> Contact center ➤ </strong> </h4>
		</div>

		<div class="mosaic">
			<%= image_tag 'mosaic.jpg' %>
			<div class="overlay"> Checkr has built in specific tools to reduce time to hire and manage the complexity of screening candidates in a contact center. </div>
			<h4> <strong> Financial services ➤ </strong> </h4>
		</div>
		<div class="mosaic">
			<%= image_tag 'mosaic.jpg' %>
			<div class="overlay"> Checkr has built in specific tools to reduce time to hire and manage the complexity of screening candidates in a contact center. </div>
			<h4> <strong> Retail & Hospitality ➤ </strong> </h4>
		</div>
	</div>
	<div class="mosaic-all">	
		<div class="mosaic">
			<%= image_tag 'mosaic.jpg' %>
			<div class="overlay"> </div>
			<h4> <strong> Staffing ➤ </strong> </h4>
		</div>
		<div class="mosaic">
			<%= image_tag 'mosaic.jpg' %>
			<div class="overlay"> Checkr has built in specific tools to reduce time to hire and manage the complexity of screening candidates in a contact center. </div>
			<h4> <strong> Contact center ➤ </strong> </h4>
		</div>
		<div class="mosaic">
			<%= image_tag 'mosaic.jpg' %>
			<div class="overlay"> Checkr has built in specific tools to reduce time to hire and manage the complexity of screening candidates in a contact center. </div>
			<h4> <strong> Financial services ➤ </strong> </h4>
		</div>
		<div class="mosaic">
			<%= image_tag 'mosaic.jpg' %>
			<div class="overlay"> Checkr has built in specific tools to reduce time to hire and manage the complexity of screening candidates in a contact center. </div>
			<h4> <strong> Retail & Hospitality ➤ </strong> </h4>
		</div>
	</div>	
</div>
		
<div class="section5">
	<h2>Best in Class Compliance and Security</h2>
	<div class="card-all">
		<div class="card">
			<div class="card-head">
				<%= image_tag 'loupe.svg' %>
				<h3> Screenings </h3>
			</div>
			<ul> 
				<li> Criminal Records </li>
				<li> Driving Records </li>
				<li> Employment Verifications </li>
				<li> International Verifications </li>
				<li> Drug screening </li>
			</ul>
			<div class="card-bottom"> 
				<p> REVIEW ALL OF CHECKR'S SCREENING SERVICES </p>
				<p class="path"> ➤ </p>
			</div>	
		</div>
		<div class="card">
			<div class="card-head">
				<%= image_tag 'compliance.svg' %>
				<h3> Compliance </h3>
			</div>
			<ul> 
				<li> Compliant with state and federal laws, including FCRA </li>
				<li> NAPBS accreditation </li>
				<li> Experienced in-house compliance and investigation team </li>
			</ul>
			<div class="card-bottom"> 
				<p> VISIT OUR COMPLIANCE <br /> LEARNING CENTER </p>
				<p class="path"> ➤ </p>
			</div>	
		</div>
		<div class="card">
			<div class="card-head">
				<%= image_tag 'security.svg' %>
				<h3> Security </h3>
			</div>
			<ul> 
				<li> Data encrypted using bank-grade standards </li>
				<li> Non-stop monitoring </li>
				<li> Infrastructure built for high availability </li>
			</ul>
			<div class="card-bottom"> 
				<p> SEE WHY WE'RE TRUSTED BY <br />WORLD-CLASS COMPANIES </p>
				<p class="path"> ➤ </p>
			</div>	
		</div>
	</div>
</div>

<div class="section6">
	<h2> Information for Applicants </h2>
	<div class="allinfo">
		<div class="infocard">
			<div class="card-head">
				<h3> Checkr provides the support you deserve. </h3>
				<ul> 
					<li> Responsive U.S.-based customer service </li>
					<li> Status tracking available through the applicant portal </li>
					<li> Support available by phone or email </li>
				</ul>
				<div class="card-bottom"> 
					<p> VISIT CHECKR'S APPLICANT PORTAL </p>
					<p class="path"> ➤ </p>
				</div>	
			</div>
		</div>
		<div class="testimony">
			<p class="text"> “First of all, thank you for informing me of the progress regarding your process. That is not only professional but exemplifies a degree of courtesy other companies would be smart to model.” </p>
			<div class="people">
				<%= image_tag 'peter.gif' %>
				<div class="people-info">
					<h3> Peter D. </h3>
					<p> Grubhub applicant </p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section7">
	<div class="discovery">
		<div class="image">
			<%= image_tag 'promo.png' %>
		</div>
		<div class="text">
			<h2> Take a Tour </h2>
			<p> See why Checkr is the most reliable option for your background check needs. </p> 
		</div>
		<button> Schedule a demo ➤ </button>
	</div>
</div>

<footer>
	<div class="footerlists">
		<div class="footeritems">
			<p class="list-title"> PRODUCT </p>
			<p> Overview </p>
			<p> Screenings </p>
			<p> Compliance </p>
			<p> Security </p>
			<p> API & Docs</p>
		</div>

		<div class="footeritems">
			<p class="list-title"> INDUSTRIES </p>
			<div class="footer2">
				<div class="footeritems-left">
					<p> Overview </p>
					<p> Screenings </p>
					<p> Compliance </p>
					<p> Security </p>
					<p> API & Docs</p>
				</div>
				<div class="footeritems-right">
					<p> Overview </p>
					<p> Screenings </p>
					<p> Compliance </p>
					<p> Security </p>
					<p> API & Docs</p>
				</div>
			</div>
		</div>

		<div class="footeritems">
			<p class="list-title"> RESOURCES </p>
			<p> Overview </p>
			<p> Screenings </p>
			<p> Compliance </p>
			<p> Security </p>
			<p> API & Docs</p>
		</div>

		<div class="footeritems">
			<p class="list-title"> COMPANY </p>
			<p> Overview </p>
			<p> Screenings </p>
			<p> Compliance </p>
			<p> Security </p>
			<p> API & Docs</p>
		</div>

		<div class="footeritems">
			<p class="list-title"> CONNECT</p>
			<p> Overview </p>
			<p> Screenings </p>
			<p> Compliance </p>
			<p> Security </p>
			<p> API & Docs</p>
		</div>
	</div>
</footer>

